<br/>
<h4><%= review.user.name %></h4>
<div id="stars">
  <%= render 'stars', rating: review.rating %>
</div>

<p class="description"><%= review.description %></p>

<% if review_belongs_to_user?(review) %>
  <%= link_to fa_icon('trash'), [@product, review], class: 'btn btn-sm btn-danger', method: :delete, data: { confirm: "Are you sure?" } %>
<% end %>